
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 7s;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: rgb(121, 15, 170);}
}
